.sports-background {
  background-image: url(./../../../img/sports-bg.jpg);
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  animation: fade-in 1s ease-in;
  overflow: hidden;

  .sports-nav {
    background-color: rgba(223, 247, 243, .85);
    height: 80px;
    
    .back-btn-sports {
      color: #000 !important;
    }

    .navbar-brand {
      flex-grow: 1;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
  }
  
  .sports-footer {
    position: absolute;
    justify-content: center;
    display: flex;
    font-weight: bold;
    bottom: 0;
    width: 100%;
  }

  .desktop-menu {
    position: absolute;
    top: 82px;
    right: 10px;
    background-color: rgba(242,234,249, 1);
  }

  .navbar-item {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: #000 !important;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .desktop-menu {
    background-color: transparent !important;
    top: 10px !important;
    right: -10px !important;
  }

  .sports-modal {
    color: #000 !important;
    font-weight: bolder !important;
    width: 90px;
    height: 90px;
    padding: 0px 16px;
    border-radius: 80% !important;
    text-align: center;
    font-size: 2.2em !important;
    background-color: transparent !important;
    border: 10px solid #000 !important;
    position: absolute;
    bottom: 8%;
    right: 8%;
    display: block !important;

    &:hover {
      background-color: rgba(141, 141, 141, 0.2) !important;
      color: rgb(13,212,191) !important;
      box-shadow: 0 0 0 0 !important;
    }
  }
}

