footer {
  position: absolute;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 15px 10px 0 10px;
  bottom: 10px;
  width: 100%;
}

.layout-position {
  position: relative;
}


@media only screen and (min-width: 769px) {

  footer {
    font-size: 1.3em;
  }
  .layout-position {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 1025px) {
  footer {
    font-size: 1.3em;
  }

  .home-position {
    bottom: 13.5px;
  }

  .layout-position {
    margin-top: -1%;
  }
}

@media only screen and (min-width: 1300px) {
  footer {
    font-size: 1.5em;
  }

  .home-position {
    bottom: 10px;
  }

  .layout-position {
    margin-top: 12%;
  }
}