.layout-p {
  margin-top: -20px;
  font-size: 1.1em;
  text-align: center;
}

.layout-container {
  padding-top: 8%;
}

.mark {
  font-weight: bolder;
  font-size: 1.15em;
  background-color: transparent !important;
}

.layout-info {
  animation: fade 1.5s ease-in;
  margin-top: 20%;
  font-weight: bold;
  padding: 0 5px 0 5px;
}

@media only screen and (min-width: 1000px) {
  .layout-p {
    margin-top: -60px !important;
    font-size: 1.3em;
  }
}

