.card-styles {
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  height: 95%;

  &:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    color: #000;
    backface-visibility: hidden;
  }
}

.card-image {
  height: 190px;
}

.card-text {
  font-size: 1.2em;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-row {
  margin-top: 2% !important;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .card-styles {
    height: 90%;
  }

  .card-image {
    height: 170px;
  }
}




