.layout-p {
  margin-top: -20px;
  font-size: 1.1em;
  text-align: center;
}

.layout-container {
  padding-top: 8%;
  // text-align: center;
}

.mark {
  font-weight: bolder;
  font-size: 1.1em;
  background-color: transparent !important;
}

.card-styles {
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.card-text {
  font-size: 1.2em;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-styles:hover {
  transform: scale(1.02);
}

.layout-info {
  animation: fade 1.5s ease-in;
  margin-top: 20%;
  font-weight: bold;
  padding: 0 5px 0 5px;
}

/* Modal Stylings */
.modal-list {
  list-style-type: none;
  padding: 0;
}

.spec-li:before {
  content: "-";
}

.modal-span {
  font-weight: bolder;
}

.close-button {
  justify-content: flex-end;
}

.dl-button {
  justify-content: flex-start;
}

.modal-foot {
  justify-content: space-between;
}

.sr-only {
  display: none;
}

.close {
  background-color: transparent;
  border: none;
  font-size: 1.7em;
}

.card-row {
  margin-top: 2% !important;
}

