.cardStyles {
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cardText {
  font-size: 1.2em;
}

.cardTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.cardStyles:hover {
  transform: scale(1.02);
}