body {
  margin: 0;
  font-family: 'BlinkMacSystemFont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

#root {
  height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
